<a href="https://colab.research.google.com/github/ark150/PracticaSIDI2Semana1/blob/master/sistdist2_semana_1_libreta1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

practica de como se guardala informacion en memoria

In [0]:
import psutil, os

In [0]:
def huella_de_memoria():
  '''regresa la memoria usada por un proceso en python'''
  mem= psutil.Process(os.getpid()).memory_info().rss
  return (mem / 1024**2)

In [11]:
huella_de_memoria()

115

In [0]:
import numpy as np

In [0]:
antes = huella_de_memoria()

el profe dijo que N abajo es el numero de valores de punto flotante que llena 1MB

In [0]:
N=(1024**2)//8

In [0]:
x = np.random.rand(50*N)

In [0]:
despues = huella_de_memoria()

In [24]:
print(antes)

115

In [25]:
print(despues)

9710

In [0]:
import pandas as pd

In [27]:
df = pd.DataFrame(x)
df

                  0
0          0.973580
1          0.177345
2          0.426417
3          0.358090
4          0.201263
5          0.886273
6          0.338781
7          0.201203
8          0.924915
9          0.810528
10         0.740258
11         0.372954
12         0.462337
13         0.395237
14         0.561212
15         0.744218
16         0.125406
17         0.770104
18         0.325724
19         0.150746
20         0.714598
21         0.530537
22         0.498847
23         0.802097
24         0.007488
25         0.749392
26         0.000827
27         0.905242
28         0.385187
29         0.299841
...             ...
628003570  0.883628
628003571  0.948044
628003572  0.031306
628003573  0.744854
628003574  0.734698
628003575  0.878342
628003576  0.739058
628003577  0.272329
628003578  0.076356
628003579  0.336141
628003580  0.289480
628003581  0.205675
628003582  0.312906
628003583  0.113988
628003584  0.365388
628003585  0.014617
628003586  0.215847
628003587  0.916255
628003588  0.077626
628003589  0.092233
628003590  0.844181
628003591  0.060477
628003592  0.316752
628003593  0.162693
628003594  0.551012
628003595  0.925939
628003596  0.836523
628003597  0.656712
628003598  0.074539
628003599  0.122190

[628003600 rows x 1 columns]

ejercicio reportar el uso de memoria de la siguiente estructura:

1.- memoria del arreglo 'celsius'
2. -memoria total en mb del proceso _antes_de realizar la operacion en 3
3.- convertir celsius a fahrenheit usando 9/5 *celsius +32
4.- indicar la diferencia de memoria despues de la operacion
5.- obtener la memoria del arreglo fahrenheit (sin usar el metodo)
6.-  cual es la memoria del arreglo

In [49]:
celsius = np.arange(-4., 0., 4/366000)
celsius
celsius.nbytes/(1024**2)

2.7923583984375

In [50]:
antes=huella_de_memoria()
farenheint = 32+celsius*9/5
despues =huella_de_memoria()
print(despues-antes)

0.0

In [51]:
farenheint.nbytes/(1024**2)

2.7923583984375